body {
    height: 100vh;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    box-sizing: border-box;
}



/* Sidebar Panel */

.sidebar {
    background-color: dodgerblue;
    color: white;
    padding: 20px;
    grid-row: 1 / 3;
}

.nav1,
.nav2 {
    list-style-type: none;
    margin: 0;
    margin-top: 2rem;
    padding: 0;    
}

/* center links with icons and provide space between */
.sidebar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 8px;
}

.nav1 a,
.nav2 a {
    margin-top: 1rem;
}

a:visited {
    color: white;
}



/* Header Panel */

.header {
    padding: 20px 40px;
    background-color: lightgrey;
    box-shadow: 4px 1px 5px;
    display: grid;
    grid-template-rows: 2fr 3fr;
}

.header div {
    /* border: 1px solid red; */
}

.headerTop,
.headerBot {
    /* padding: 20px; */
    display: flex;
    align-items: center;
}

.search,
.userMenu,
.contentButtons {
    display: flex;
    align-items: center;
    gap: 10px;
}

#search {
    padding: 5px 10px;
    border: none;
    border-radius: calc(1rem + 2.5px);
    display: flex;
}

.userMenu a {
    text-decoration: none;
}

#user {
    color: black;
    font-weight: 500;
}

.greeting {
    display: flex;
    flex-direction: column;
}

.greeting .time {
    font-size: small;
}

.greeting #user {
    font-size: larger;
    font-weight: 500;
}

.contentButtons,
.userMenu {
    margin-left: auto;
}

.contentButtons button {
    background-color: dodgerblue;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: calc(10px + 0.5rem);
}



/* Content Panel */

.content {
    background-color: lightslategray;
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 3fr 1fr;
    /* border: 1px solid red; */
}

.projects {
    grid-row: 1 / 3;
    /* border: 1px solid red; */
}

.projectCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    gap: 20px;
    /* border: 1px solid red; */
}

.card {
    border-left: 6px solid goldenrod;
}

.card,
.announceCard,
.trendingCard {
    height: 100px;
    padding: 20px;
    background-color: white;
    box-shadow: 1px 1px 5px;
    border-radius: 6px;
}

.projectCards,
.announceCard,
.trendingCard {
    margin-top: 1rem
}