body {
    height: 100vh;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    box-sizing: border-box;
    /* border: 1px solid blue; */
}

.sidebar {
    background-color: lightskyblue;
    padding: 20px;
    /* border: 1px solid red; */
    grid-row: 1 / 3;
}

.header {
    background-color: lightgrey;
    padding: 20px;
    box-shadow: 4px 1px 5px;
    /* border: 1px solid red; */
}

.content {
    background-color: lightslategray;
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* border: 1px solid red; */
}

.projects {
    /* grid-template-columns: repeat(auto-fit, minmax(10%, 1fr)); */
    grid-row: 1 / 3;
}

.content span {
    margin-left: 20px;
}

.card,
.announceCard,
.trendingCard {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 1px 1px 5px;
}